.ulLink {
  background-color: rgb(249, 161, 99);
  height: 50px;
}

.courseLink {
  margin: 40px;
  padding: 20px;
  text-decoration: none;
  font-size: large;
}

.courseLink:hover {
  transform: scale(1.3);
  transition: 2ms;
}
